<form>
  <div class="mb-3">
    <label for="usernameInput" class="form-label">Username</label>
    <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Please enter your username</div>
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  <button type="submit" class="btn btn-primary" id="signUpBtn">Sign Up</button>

</form>
<form class="signup-here" action="/action_page.php">
  <label for="Email">Email:</label>
  <input type="text" id="signupEmailInput" name="email"><br><br>
  <label for="Username">Username:</label>
  <input type="text" id="signupUsername" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="text" id="signuppasswordInput" name="password"><br><br>
  <label for="Username"> Repeat password:</label>
  <input type="text" id="Username" name="Username"><br><br>
  <input type="submit" value="Submit">
  <button type="submit" class="signupBtn" id="Submit">Submit Here</button>
</form>