
            <h1>Welcome to Chat App</h1>
        <div class="content">
            <div>
            <form action="/room" method="POST">
                <input type="text" placeholder="Enter your Name" class="username" name="username" required>
                <input type="text" placeholder="Enter Room Name" class="roomname" name="roomname" required>
                <input type="submit" class="enter" value="Enter">
            </form>
        </div>
        </div>
    </div>
<script src="/socket.io.js"></script>
<script src="./todos.js"></script>

