
body {
    background-color: #8ba5ab;
}

.container {
    margin-top: 3rem;
    border: inset;
    border-color: darkblue;
    border-radius: 1rem;
    height: 40vh;
    width: 80vh;
}

.form-text {
    margin-top: 5px;
    font-size: large;
    color: black;
}

.form-label {
    margin-bottom: 0.5rem;
    color: black;
}

.form-control {
    cursor: pointer;
}

h1 {
    color: darkblue;
    font-weight: revert;
    border: 5px solid darkblue;
    text-align:-webkit-center;
}

button, input, optgroup, select, textarea {
    font-family:sans-serif;
    font-size: inherit;
    line-height: inherit;
    border-color: darkblue;
}

*, ::after, ::before {
    box-sizing: border-box;
    color: black;
}