/* main.handlebars page */
body {
    background-color: #8ba5ab;
}

.container {
    margin-top: 3rem;
    border: inset;
    border-color: darkblue;
    border-radius: 1rem;
    padding: 4%;
    height: 40vh;
    width: 80vh;
}

.form-text {
    margin-top: 5px;
    font-size: large;
    color: black;
}

.form-label {
    margin-bottom: 0.5rem;
    color: black;
}

.form-control {
    cursor: pointer;
}

h1 {
    color: darkblue;
    font-weight: revert;
    text-align: center;
    padding: 4%;
}

button, input, optgroup, select, textarea {
    font-family:sans-serif;
    font-size: inherit;
    line-height: inherit;
    border-color: darkblue;
}

/* landingPage */

div label {
    padding-left: 28%;
}

.roomname, .username, .enter {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

/* todos.handlebars styling */

.window {
    border: 5px solid darkblue;
    height: 40vh;
    width: 60vh;
    margin-left: 32%;
    border-radius: 10px;
    padding-left: 5%;
}

.chat-message {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left:5px;
}

#message, #send {
    border-radius: 10px;
}

.users-online, .users {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div.online {
    padding-left: 8%;
    border: 3px solid darkblue;
    width: 30vh;
    margin: 4px;
    margin-top: 10%;
}