
body {
    background-color: lightgray;
}

.container {
    margin-top: 2px;
}

.form-control {
    cursor: pointer;
}

h1 {
    color: red;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid red;
}